Checks: >
    -*,
    clang-analyzer-*,
    clang-diagnostic-*,
    modernize-*,
    -modernize-use-default-member-init,
    -modernize-use-nodiscard,
    -modernize-use-trailing-return-type,
    -modernize-avoid-c-arrays,
    -modernize-use-using,
    cppcoreguidelines-*,
    -cppcoreguidelines-avoid-c-arrays,
    -cppcoreguidelines-avoid-magic-numbers,
    -cppcoreguidelines-init-variables,
    -cppcoreguidelines-macro-usage,
    -cppcoreguidelines-non-private-member-variables-in-classes,
    -cppcoreguidelines-pro-*,
    bugprone-*,
    -bugprone-easily-swappable-parameters,
    readability-*,
    -readability-math-missing-parentheses,
    -readability-convert-member-functions-to-static,
    -readability-else-after-return,
    -readability-function-cognitive-complexity,
    -readability-identifier-length,
    -readability-implicit-bool-conversion,
    -readability-isolate-declaration,
    -readability-magic-numbers,
    -readability-named-parameter,
    -readability-redundant-*,
    -readability-string-compare,
    -readability-uppercase-literal-suffix,
    hicpp-*,
    performance-*,
    mpi-*,
    openmp-*,
    misc-include-cleaner
HeaderFilterRegex: 'palace/drivers|palace/fem|palace/linalg|palace/utils'
FormatStyle: 'file'
CheckOptions:
    misc-include-cleaner.MissingIncludes: false
    misc-include-cleaner.UnusedIncludes: true
