[submodule "extern/petsc"]
	path = extern/petsc
	url = https://gitlab.com/petsc/petsc.git
	branch = main
[submodule "extern/hypre"]
	path = extern/hypre
	url = https://github.com/hypre-space/hypre.git
	branch = master
[submodule "extern/STRUMPACK"]
	path = extern/STRUMPACK
	url = https://github.com/pghysels/STRUMPACK.git
	branch = master
[submodule "extern/ButterflyPACK"]
	path = extern/ButterflyPACK
	url = https://github.com/liuyangzhuan/ButterflyPACK.git
	branch = master
[submodule "extern/superlu_dist"]
	path = extern/superlu_dist
	url = https://github.com/xiaoyeli/superlu_dist.git
	branch = master
[submodule "extern/arpack-ng"]
	path = extern/arpack-ng
	url = https://github.com/opencollab/arpack-ng.git
	branch = master
[submodule "extern/mumps"]
	path = extern/mumps
	url = https://github.com/scivision/mumps.git
	branch = main
[submodule "extern/GKlib"]
	path = extern/GKlib
	url = https://github.com/KarypisLab/GKlib.git
	branch = master
[submodule "extern/METIS"]
	path = extern/METIS
	url = https://github.com/KarypisLab/METIS.git
	branch = master
[submodule "extern/ParMETIS"]
	path = extern/ParMETIS
	url = https://github.com/KarypisLab/ParMETIS.git
	branch = main
[submodule "extern/gslib"]
	path = extern/gslib
	url = https://github.com/Nek5000/gslib.git
	branch = master
[submodule "extern/scalapack"]
	path = extern/scalapack
	url = https://github.com/scivision/scalapack.git
	branch = main
[submodule "extern/zfp"]
	path = extern/zfp
	url = https://github.com/LLNL/zfp.git
	branch = develop
